# Values for the grafana child chart
grafana:
  adminPassword: "changeme"
  ingress:
    enabled: true
    hosts:
      - grafana.homelab.local
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          # Connect to the service defined in the prometheus chart above
          # Format: http://<service-name>.<namespace>.svc.cluster.local:<port>
          url: http://prometheus-prometheus.monitoring.svc.cluster.local:9090
          access: proxy
          isDefault: true

  dashboardProviders:
    dashboardproviders.yaml:
      apiVersion: 1
      providers:
        - name: 'default'
          orgId: 1
          folder: ''
          type: file
          disableDeletion: false
          editable: true
          options:
            path: /var/lib/grafana/dashboards/default

